<mat-card>
  <form (submit)="savePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input type="text" matInput name="title" ngModel required minlength="3" #title="ngModel" placeholder="Post Title">
      <mat-error *ngIf="title.invalid">please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required #content="ngModel" placeholder="Post Content"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Post Save!</button>
  </form>
</mat-card>

